[submodule "Project - 1"]
	path = Project - 1
	url = https://github.com/anirudha-8/Tribute_Page.git
[submodule "Project - 2"]
	path = Project - 2
	url = https://github.com/anirudha-8/Job_Application_Form.git
[submodule "Project - 3"]
	path = Project - 3
	url = https://github.com/anirudha-8/Parallax_WebPage.git
[submodule "Project - 4"]
	path = Project - 4
	url = https://github.com/anirudha-8/Landing-Page.git
[submodule "Project - 5"]
	path = Project - 5
	url = https://github.com/anirudha-8/Restaurant-Website.git
