[submodule "01-Project"]
	path = 01-Project
	url = https://github.com/anirudha-8/Tribute_Page.git
[submodule "02-Project"]
	path = 02-Project
	url = https://github.com/anirudha-8/Job_Application_Form.git
[submodule "03-Project"]
	path = 03-Project
	url = https://github.com/anirudha-8/Parallax_WebPage.git
[submodule "04-Project"]
	path = 04-Project
	url = https://github.com/anirudha-8/Landing-Page.git
[submodule "05-Project"]
	path = 05-Project
	url = https://github.com/anirudha-8/Restaurant-Website.git
[submodule "06-Project"]
	path = 06-Project
	url = https://github.com/anirudha-8/myTunes.git
[submodule "07-Project"]
	path = 07-Project
	url = https://github.com/anirudha-8/survey-form.git
[submodule "08-Project"]
	path = 08-Project
	url = https://github.com/anirudha-8/tribute-page.git
[submodule "09-Project"]
	path = 09-Project
	url = https://github.com/anirudha-8/technical-documentation.git
[submodule "10-Project"]
	path = 10-Project
	url = https://github.com/anirudha-8/product-landing-page.git
[submodule "11-Project"]
	path = 11-Project
	url = https://github.com/anirudha-8/portfolio-webpage.git
[submodule "12-Project"]
	path = 12-Project
	url = https://github.com/anirudha-8/coffee-landing-page.git
[submodule "13-Project"]
	path = 13-Project
	url = https://github.com/anirudha-8/kitty-food-landing-page.git
